{% extends ('base.html.twig') %}

{% block title %}
Soportes
{% endblock %}

{% block body %}
<h1>Soportes</h1>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Complejidad</th>
        </tr>
    </thead>
    <tbody>
        {% for soporte in listSoportes %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ soporte.descripcion }}</td>
                <td>{{ soporte.complejidad }}</td>
            </tr>
        {% endfor %}

    </tbody>
 </table>


 {% endblock %}