{% extends ('base.html.twig') %}

{% block title %}
Empleados
{% endblock %}

{% block body %}
<h1>Empleados</h1>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for empleados in listEmpleados %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ empleados.nombre }}</td>
            </tr>
        {% endfor %}

    </tbody>
 </table>


 {% endblock %}